* {
  font-family: arial, times, serif;
/*  background-color: rgba(22, 84, 38, 0.6) */;
}

body {
  background: rgba(22, 84, 38, 0.6);
}

h1, h2 {
  border-top: solid;
  border-bottom: solid;
  border-radius: 90px;
  color: rgb(25, 225, 60);
  text-align: center;
  min-width: 300px;
  max-width: 900px;
}

p {
  text-align: center;
}

p li {
  min-width: 300px;
  max-width: 400px;
  padding: 5px;
}

.bio {
  border: 2px solid rgb(125, 50, 125);
  background-color: rgb(225, 115, 20);
  padding: inherit;
}

.goals {
  border: 1px solid rgb(125, 30, 65);
  background-color: rgb(45, 35, 40);
  padding: inherit;
  color: grey;
}

.values {
  border: 5px solid rgb(125, 50, 125);
  background-color: rgb(25, 150, 150);
  padding: inherit;
}
